@model AspNetCoreAssessment.Models.StudentVM
@{
    ViewData["Title"] = "Register Student";
}

<br />
<br />
<div class="container">
    <!-- Inputs -->
    <h3>Register student</h3>
    <hr>
    <form  enctype="multipart/form-data" method="post" id="idForm">
        <div class="row mt-5">
            <div class="col-md-12">
                <div asp-validation-summary="All" style="color:red"></div>
                <div class="form-group">
                    <label asp-for="Ssn"></label>
                   <div class="input-group mb-3">
                      <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Example: 103-83-0281</span>
                      </div>
                      <input type="text" class="form-control" asp-for="Ssn" aria-describedby="basic-addon3" placeholder="Ssn">
                    </div>
                    <span asp-validation-for="Ssn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label asp-for="FirstName"></label>
                            <input type="text" class="form-control" placeholder="First name" asp-for="FirstName">
                            <br />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="LastName"></label>
                            <input type="text" class="form-control" placeholder="Last name" asp-for="LastName">
                            <br />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Gender"></label>
                    <select class="form-control" asp-for="Gender">

                        <option disabled selected value="0">choose a Gender</option>
                        @foreach (var item in ViewBag.Gender)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }


                    </select>
                    <br />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input type="tel" asp-for="PhoneNumber" class="form-control" autocomplete="off" placeholder="Phone Number">
                    <br />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Birthday"></label>
                    <input type="datetime-local" asp-for="Birthday" class="form-control" >
                    <br />
                    <span asp-validation-for="Birthday" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Stage"></label>
                    <select class="form-control" asp-for="Stage">

                        <option disabled selected value="0">choose a Stage</option>
                        @foreach (var item in ViewBag.Stage)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <br />
                    <span asp-validation-for="Stage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EmailAddress"></label>
                    <div class="input-group mb-3">

                        <input type="email" class="form-control" asp-for="EmailAddress" aria-describedby="basic-addon3" placeholder="Email Address">
                          <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon2"> example.com</span>
                            </div>
                    </div>
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address"></label>
                    <input type="text" asp-for="Address" class="form-control" placeholder="Address">
                    <br />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for="PhotoFile"></label>
                    <input type="file"  class="form-control form-control-lg" asp-for="PhotoFile" accept="image/*" onchange="loadFile(event)" />
                    <br />
                    <span asp-validation-for="PhotoFile" class="text-danger"></span>
                </div>
                <center>
                    <div class="form-group">
                        <img id="output" style="  max-width: 100%;  height: auto;max-height:400px" />

                    </div>
                </center>

                <br />


                <div class="form-group">
                    <input type="button" id="btnSubmit" class="btn btn-primary" style="float:right" />
                </div>
            </div>

        </div> <!-- end of inputs -->
    </form>
</div>

@section _ValidationScript
    {
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
            }
        };
    </script>
@*    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/AddAjaxScript.js">  </script>
 }

